/*grön #BFDDD5 */
/*blåish text #1A5366 */
/*vit bakgrund #F3F8F2 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f8f2f2;
    color: #1A5366;
    line-height: 1.6;
}

nav {
    background-color: #BFDDD5;
    padding: 20px 40px;
    text-align: center;
}

nav a {
    color: #1A5366;
    text-decoration: none;
    margin-right: 15px;
    font-weight: 500;
    padding: 8px 15px;
}

nav a:hover {
    background-color: #F3F8F2;
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin: 60px 0;
    font-size: 36px;
}

.container {
    max-width: 900px;
    margin: 0 auto 60px;
    padding: 40px;
    background-color: #fafdfb;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #cfded8;
    border-radius: 4px;
    background-color: #ffffff;
}

input[type="submit"] {
    margin-top: 25px;
    padding: 12px 30px;
    background-color: #5fa99a;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1A5366;
}

body > div:last-child {
    max-width: 900px;
    margin: 0 auto 80px;
    color: #1A5366;
}

.message {
    text-align: center;
    margin-bottom: 1rem;
}  

footer {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 60px;
    margin: 60px auto 80px;
    max-width: 900px;
    text-align: center;
}

.phone,
.address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone p:first-child,
.address p:first-child {
    font-weight: bold;
    margin-bottom: 8px;
}

.phone {
    position: relative;
}

.phone::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #1a536638;
}
