
body {
    margin: 0; 
    background-color: #F3F8F2;
    padding-top: 80px;
    box-sizing: border-box;
}

nav {
    position: fixed; 
    padding: 15px;
    top: 0px;
    width: 100%;
    height: 32px;
    background-color: #BFDDD5;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 60px 0;
    font-size: 3rem;
}

.container {
    max-width: 900px;
    margin: 0 auto 60px;
    padding: 40px;
    background-color: #fafdfb;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}   

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #cfded8;
    border-radius: 4px;
    background-color: #ffffff;
}

.button {
    font-family: 'Helvetica', sans-serif;
  background-color: #BFDDD5;
  box-sizing: border-box;
  color: #4a776d;
  width: 928px;
  height: 50px;
}

.button:hover {
 background-color: #F3F8F2;
}

.button-38 {
  font-family: 'Helvetica', sans-serif;
  background-color: #BFDDD5;
  box-sizing: border-box;
  color: #4a776d;
  font-size: .950rem;
  font-weight: 600;
  padding: 30px;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  cursor: pointer;
}

.button-38:hover {
  background-color: #F3F8F2;
}

.image-button {
  position: absolute;
  border: none;
  padding: 0;
  cursor: pointer;
  display: block;
  width: 60px;
  right: 80px;
  top: 2px;
}
        
.image-button img {
  width: 60px; 
  height: 60px;
  display: block;
}

body > div:last-child {
    max-width: 900px;
    margin: 0 auto 80px;
    color: #1A5366;
}

.message {
    text-align: center;
    margin-bottom: 1rem;
}  

footer {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 60px;
    margin: 60px auto 80px;
    max-width: 900px;
    text-align: center;
}

.phone,
.address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone p:first-child,
.address p:first-child {
    font-weight: bold;
    margin-bottom: 8px;
}

.phone {
    position: relative;
}

.phone::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #1a536638;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    display: block;
}

.confirmationBox {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    text-align: center; 
    padding: 1rem;
    position: relative;
    min-height: 250px;
    overflow: hidden;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-check {
    height: 10em;
    width: 10em
}

.animated-check path {
    fill: none;
    stroke: #7ac142;
    stroke-width: 4;
    stroke-dasharray: 23;
    stroke-dashoffset: 23;
    animation: draw 0.4s linear forwards;
    stroke-linecap: round;
    stroke-linejoin: round
}

@keyframes draw {
    to {
        stroke-dashoffset: 0
    }
}