* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: #f8f2f2;
    color: #1A5366;
    line-height: 1.6;
}

nav {
    background-color: #BFDDD5;
    padding: 20px 40px;
    text-align: center;
}

nav a {
    color: #1A5366;
    text-decoration: none;
    margin-right: 15px;
    font-weight: 600;
    padding: 8px 15px;
}

nav a:hover {
    background-color: #F3F8F2;
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin: 60px 0;
    font-size: 3rem;
}

.container {
    max-width: 900px;
    margin: 0 auto 60px;
    padding: 40px;
    background-color: #fafdfb;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}   

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #cfded8;
    border-radius: 4px;
    background-color: #ffffff;
}

.button {
    margin-top: 25px;
    padding: 12px 30px;
    background-color: #5fa99a;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    max-width: 10rem;
    align-self: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #1A5366;
    transform: scale(1.05);
}

body > div:last-child {
    max-width: 900px;
    margin: 0 auto 80px;
    color: #1A5366;
}

.message {
    text-align: center;
    margin-bottom: 1rem;
}  

footer {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 60px;
    margin: 60px auto 80px;
    max-width: 900px;
    text-align: center;
}

.phone,
.address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone p:first-child,
.address p:first-child {
    font-weight: bold;
    margin-bottom: 8px;
}

.phone {
    position: relative;
}

.phone::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #1a536638;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    display: block;
}

.confirmationBox {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    text-align: center; 
    padding: 1rem;
    position: relative;
    min-height: 250px;
    overflow: hidden;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-check {
    height: 10em;
    width: 10em
}

.animated-check path {
    fill: none;
    stroke: #7ac142;
    stroke-width: 4;
    stroke-dasharray: 23;
    stroke-dashoffset: 23;
    animation: draw 0.4s linear forwards;
    stroke-linecap: round;
    stroke-linejoin: round
}

@keyframes draw {
    to {
        stroke-dashoffset: 0
    }
}