body {
    margin: 0; 
    background-color: #F3F8F2;
    padding-top: 80px;
    box-sizing: border-box;
}

nav {
    position: fixed; 
    padding: 10px;
    top: 0px;
    width: 100%;
    height: 40px;
    background-color: #BFDDD5;
    text-align: center;
}

.header-left {
    text-align: left;
    position: absolute;
    top: 180px;
    left: 25px;
    font-family: 'Helvetica', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0;
    color: #4a776d;
}

p {
    text-align: left;
    position: absolute;
    top: 430px;
    left: 25px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #4a776d;
    max-width: 600px;
    margin: 10px auto;
}

/* Slideshow */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #333;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 15px;
  user-select: none;
  right: 550px;
}

.next {
  right: 220px;
  border-radius: 10px;
}

.prev:hover, .next:hover {
  background-color: #4a776d;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.button-38 {
  font-family: 'Helvetica', sans-serif;
  background-color: #BFDDD5;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #4a776d;
  font-size: .875rem;
  font-weight: 600;
  line-height: 2.5rem;
  padding: 15px;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  cursor: pointer;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

/* Video layout */
.video-wrapper {
    position: absolute;
    margin-top: 50px; /* justera detta så att de hamnar där du vill */
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 50px;
    right: 100px;
    bottom: -1000px;
}

.video-container {
    max-width: 800px;
}

.video-container video {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
