body {
    margin: 0; 
    background-color: #F3F8F2;
    padding-top: 70px;
    box-sizing: border-box
}


nav {
    position: fixed; 
    padding: 10px;
    top: 1px;
    width: 100%;
    height: 40px;
    background-color: #BFDDD5;
    text-align: center;
}

.header-left {
    text-align: left;
    position: absolute;
    top: 180px;      
    left: 25px;
    font-family: 'Helvetica', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0;
    color: #4a776d;
}

p {
    text-align: left;
    position: absolute;
    top: 430px;      
    left: 25px;
    font-family: Helvetica, sans-serif; 
    font-size: 16px;               
    line-height: 1.6;              
    color: #4a776d;                  
    max-width: 600px;             
    margin: 10px auto;             
}

/* --- Slideshow Styling --- */

.slideshow-container {
  max-width: 800px;     
  position: relative;
  margin: auto;  
}

.mySlides img {
  width: 100%;       
  height: auto;      
  border-radius: 10px;
  background-color: #333;
}

/* Nästa & Föregående knappar */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white; /* Vit pil */
  font-weight: bold;
  font-size: 25px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Placera "next" till höger */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Vid hover, gör bakgrunden mörkare */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.6);
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.button-38 {
  font-family: 'Helvetica', sans-serif;
  background-color: #BFDDD5;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #4a776d;
  font-size: .875rem;
  font-weight: 600;
  line-height: 2.5rem;
  padding: 15px;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  cursor: pointer;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

/* --- Video Styling --- */
.video-container {
    position: absolute;      /* Gör att vi kan placera den exakt */
    top: 1000px;    /* Hur långt ner den ska hamna (justera om den krockar med texten) */
    left: 500px; 
    right: 0; 
    margin: auto;            /* Centrerar videon */
    width: 100%;
    max-width: 1000px;        /* Sätter bredden till max 400px (liten video) */
    padding: 20px;           /* Lite luft runt om */
    box-sizing: border-box;
}

.video-container video {
    width: 100%;             /* Ser till att videospelaren fyller hela boxen */
    border-radius: 10px;     /* Snygga rundade hörn (valfritt) */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* En liten skugga för snygg effekt */
}


