body {
    margin: 0; /* tar bort default-marginal som annars puttar ner nav-baren */
    background-color: #BFDDD5;
    padding-top: 100px;
    box-sizing: border-box
}

nav {
    position: fixed;      /* fast högst upp */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #BFDDD5;
    padding: 10px 0;
    text-align: center;
}

.header-left {
    position: absolute;
    top: 20px;      /* Justerat så den hamnar under nav-baren */
    left: 70px;
    font-family: 'Helvetica', sans-serif;
    font-size: 2rem; /* Gör den riktigt stor */
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.9;
    margin: 0;
    color: #4a776d;
}

p {
    font-family: Helvetica, sans-serif; 
    font-size: 16px;               
    line-height: 1.6;              
    color: #333;                  
    max-width: 600px;             
    margin: 10px auto;             
}

.image-container {
    display: flex;           /* Gör behållaren flexibel */
    justify-content: center; /* Detta flyttar bilderna till mitten! */
    gap: 50px;               /* Lägger till snyggt mellanrum mellan bilderna */
}

img {
    display: inline-block;          /* Bättre än inline-block här */
    height: 600px;            /* Behåller proportionerna */
}

.button-38 {
  background-color: #BFDDD5;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #4a776d;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 15px;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}
